.bod{
background-image: url("../page/bc.jpg");
background-repeat: no-repeat;
background-size: cover;

}
.logo-login{
	display: block;
	margin-right:  auto;
	margin-left: auto;
	margin-top: 60px;
	width: 250px;
	height: 250px;

}
.ar-button{
	text-align: right;
	margin-top:15px;
}
.cardx{
	margin-top: 15px;
	background-color: transparent;
}
.en-button{
	text-align: left;
	margin-top:15px;
}
.ar-x{
	margin-right: 300px;
}
.btns{
	display: block;
	margin:0 auto;
}
.x{
	display: inline-block;
}
.card-heading{
	display: block;
	text-align: center;
	font-size: 3em;
}
.card-body{
	text-align: center;
}
.xform{
	margin:0 auto;
}
nav {
	margin-bottom: 30px;
}
.fot{
	margin-bottom: 30px;
}
.table{

}
input[type="email"]{
	background-color: transparent;
}
input[type="password"]{
	background-color: transparent;
}
footer{
	
}